@import "../../responsive.scss";
.layout {
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  // to put Navbar and home page on top of each other
  //add flex 1 for content as well to make it work
  display:flex;
  flex-direction: column;

//   @include lg{
//     background-color: rgb(221, 169, 72);
// }

// @include md{
//     background-color: rgb(135, 135, 231);
// }

// @include sm{
//     background-color: rgb(227, 101, 101);
// }


.content{
    // flex: 1;
    //bcz scroll on list page was not working properly
    height: calc(100vh - 100px);
}
}